ipykernel
pydantic
langchain_openai
langchain
python-dotenv
llama-index-embeddings-openai
llama-index-readers-file 
pymupdf
llama-index-llms-openai
llama-index-experimental
camelot
langchain_google_community
google-cloud-documentai
langchain-google-community[docai]
langchain_chroma
camelot-py

llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-vector-stores-qdrant
llama-index
qdrant-client
pymupdf
tools
frontend
git+https://github.com/openai/CLIP.git
easyocr